<div class="form">
    <form (submit)="login()">
        <h2>Вход</h2>
        <mat-form-field appearance="outline">
            <mat-label>Логин</mat-label>
            <input matInput placeholder="Логин" autocomplete="off">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Пароль</mat-label>
            <input type="password" matInput placeholder="Пароль"  autocomplete="off">
        </mat-form-field>
        <button mat-flat-button color="primary">Войти</button>
    </form>
</div>