<div class="item-popup">
    <form [formGroup]="form" (submit)="save()">
        <h2>Задача</h2>
        <mat-form-field appearance="outline">
            <mat-label>Название</mat-label>
            <input matInput placeholder="Название" autocomplete="off" formControlName="title">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Текст</mat-label>
            <textarea matInput formControlName="text"></textarea>
        </mat-form-field>
        <mat-checkbox 
            *ngFor="let tag of tags"
            class="example-margin"
            (change)="changeFilter()"
            [checked]="checkSelectedTag(tag)">
            {{tag.title}}
        </mat-checkbox>
        <button type="submit" mat-flat-button color="primary">Сохранить</button>
    </form>
</div>