<header>
    <mat-toolbar color="primary">
        <span>Todo List application (apopov 181-322)</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
</header>
<main>
    <div class="params content">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Поиск</mat-label>
            <input matInput autocomplete="off" [(ngModel)]="searchInput" (input)="search()">
        </mat-form-field>
        <!-- <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>filter_list</mat-icon>
        </button> -->
        <button mat-mini-fab color="accent" aria-label="Example icon button with a menu icon" (click)="isItemPopup = true">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="tags content">
        <mat-chip-list aria-label="Fish selection" multiple>
            <mat-chip color="primary" *ngFor="let tag of tags" [selected]="selectedFilterIds.includes(tag.id)" (click)="editFilters(tag.id)">{{tag.title}}</mat-chip>
        </mat-chip-list>
    </div>
    <section class="todo-list content">
        <ng-container *ngIf="todos.length > 0; else noTodosRef">
            <mat-card *ngFor="let todo of todos" class="todo-card" [ngClass]="todo.is_active ? 'todo-card_active' : 'todo-card_done'">
                <mat-chip-list aria-label="Fish selection" multiple [disabled]="!todo.is_active">
                    <mat-chip color="primary" *ngFor="let tag of todo.tags" selected>{{tag.title}}</mat-chip>
                </mat-chip-list>
                <mat-card-title>{{todo.title}}</mat-card-title>
                <mat-card-content>{{todo.text}}</mat-card-content>
                <mat-card-actions>
                    <button mat-stroked-button color="accent" (click)="doTodo(todo.id)" [disabled]="!todo.is_active">Выполнить</button>
                    <button mat-stroked-button color="primary" [disabled]="!todo.is_active" (click)="openEditPopup(todo)">Редактировать</button>
                    <button mat-stroked-button color="warn" (click)="removeTodo(todo.id)">Удалить</button>
                </mat-card-actions>
                <mat-card-footer>{{todo.created_at | date : 'short'}}</mat-card-footer>
            </mat-card>
        </ng-container>
        <ng-template #noTodosRef>
            <p>Список задач пуст.</p>
        </ng-template>
    </section>
</main>

<app-todo-item-popup *ngIf="isItemPopup" [tags]="tags" [itemToEdit]="itemToEdit" (onAdd)="addTodo($event)" (onEdit)="editTodo($event)"></app-todo-item-popup>
