header {
    span {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .example-spacer {
        flex: 1 1 auto;
    }
}
main {
    .params {
        display: flex;
        mat-form-field {
            flex: 1;
        }
        button {
            margin-left: 20px;
        }
    }
    padding: 50px 0;
    .todo-list {
        margin-top: 50px;
    }
    .todo-card {
        mat-card-title {
            margin-top: 30px;
        }
        margin-bottom: 20px;
        mat-card-footer {
            padding: 0 10px;
            display: flex;
            justify-content: flex-end;
        }
        button {
            margin: 0;
            margin-top: 5px;
            margin-right: 10px;
        }
        &_active {
            background-color: white;
        }
        &_done {
            background-color: rgb(233, 233, 233);
            color: rgb(192, 192, 192);
        }
    }
}